#amplitudeGain {
    padding-left: 5px;
    padding-right: 5px;
}

#authentication {
    position: absolute;
    display: block;
    text-align: center;
    top: 40%;
    margin-left: 40%;
    z-index: 1;
    background: linear-gradient(steelblue, white);
    border-radius: 1em;
    padding: 1em;
}

#authentication .btn {
    background: #5699ee;
    background: linear-gradient(to top, steelblue, white);
    font-weight: bold;
}

#buttonDropdown {
    position: relative;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 0.5%;
}

#chanSelectAll {
    text-align: center;
}

#chanSelectButton {
    display: none;
}

#chanSelectOk {
    text-align: center;
}

#chanSelectPopup {
    width: 100%;
    top: 5%;
    position: absolute;
}

#dropIcon {
    height: 5em !important;
}

#dropZoneButton {
    margin-top: 1%;
    line-height: 200% !important;
}

#dropZoneText {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
    z-index: 1;
    display: none;
    border: 0.25em dashed #4682B4;
    border-radius: 25px;
    background-color: lightsteelblue;
}

#durationControl {
    display: none;
    float: left;
    position: relative;
    margin-right: 4%;
}

#eegHeading {
    width: 100%;
    position: relative;
    display: none;
    margin-left: 5%
}

#eegSubHeading {
    font-size: 2em;
    font-family: Calibri !important;
    color: grey;
    font-style: italic;
    margin-left: 15%;
}

#fileName {
    position: relative;
    float: right;
    width: 35%;
}

#fileName .popover {
    overflow: hidden !important;
    width: auto !important;
    font-size: 100% !important;
}

#fileNamePopover {
    width: 65%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
}

#fileSelector {
    display: none;
}

#footerInfo {
    width: 100%;
    bottom: 0;
    padding-bottom: 0.5%;
    pointer-events: none;
    position: absolute;
}

#floatButtonsLeft {
    float: left;
    position: relative;
    width: 50%;
}

#floatButtonsRight {
    float: right;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 2%;
}

#graph {
    width: 99%;
    height: 85%;
    position: relative;
    pointer-events: none;
}

#graph text {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#headingTextEeg {
    color: #337ab7;
    font-weight: bold;
    font-size: 5em;
    font-family: Calibri !important;
    font-style: italic;
}

#headingTextDrop {
    color: grey;
    font-weight: bold;
    font-size: 5em;
    font-family: Calibri !important;
    font-style: italic;
}

#helpWinButton {
    margin-left: 1rem;
    position: relative;
    display: none;
}

#helpWindowPopup {
    width: 100%;
    top: 5%;
    position: absolute;
}

#interaction {
    position: absolute;
    bottom: 0;
    margin-bottom: 5em;
}

#license {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    font-size: 75%;
    color: #5E5E5E;
}

#license text {
    color: #5E5E5E;
}

#license a text {
    color: #337ab7;
}

#main {
    height: 99%;
    width: 100%;
    position: fixed;
}

#metadataPopup {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 100%;
}

#newFile {
    float: left;
    margin-left: 70px;
    margin-right: 2%;
    display: none;
}

#progressBar {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50%;
    display: none;
    top: 80%;
}

#progressBarWidth {
    position: relative;
    width: 0%;
}

#sliderDiv {
    pointer-events: none;
    position: absolute;
}

#sumPlot {
    pointer-events: none;
    position: absolute;
    margin-top: -1em;
}

#toolTipPopover {
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

#toolTipText {
    position: relative;
    margin-left: 5%;
    width: 60%;
    float: left;
}

#toolTipText .popover {
    overflow: hidden !important;
    width: auto !important;
    font-size: 100% !important;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

.axis {
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: steelblue;
    stroke-width: 8px;
    stroke-linecap: round;
}

.boldText {
    font-weight: bold;
}

.dropZoneTextMain {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.helpContentTable {
    border-spacing: 1em 0;
    border-collapse: separate;
}

.helpOk {
    margin-top: 10px;
    text-align: center;
}

.italicText {
    font-style: italic;
}

.metadataTable {
    border-spacing: 1em 0;
    border-collapse: separate;
}

.overlay {
    opacity:    0.7;
    background: #000;
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
    display: none;
}

.popover {
  max-width: 100% !important;
  max-height: 600px;
  white-space: nowrap !important;
  overflow: auto;
}

.popover.bottom>.arrow {
    display: none;
}

.rightCell{
    text-align:right;
    font-weight: bold;
}

.slider .handle {
    fill: lightgrey;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: move;
    pointer-events: none;
}

a:hover {
    cursor:pointer;
}
