#authentication {
    position: absolute;
    display: block;
    text-align: center;
    top: 40%;
    margin-left: 40%;
    z-index: 1;
    background: linear-gradient(steelblue, white);
    border-radius: 1em;
    padding: 1em;
}

#authentication .btn {
    background: #5699ee;
    background: linear-gradient(to top, steelblue, white);
    font-weight: bold;
}

#buttonDropdown {
    position: relative;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 0.5%;
}

#dropZoneText {
    position: fixed;
    text-align: center;
    top: 40%;
    width: 100%;
    z-index: 1;
    display: none;
}

#dropZoneText, #graph text {
    cursor: pointer;
}

#durationControl {
    display: none;
    float: right;
    padding-right: 1%;
    position: relative;
}

#fileSelector {
    display: none;
}

#graph {
    width: 99%;
    height: 85%;
    position: relative;
    pointer-events: none;
}

#interaction {
    position: absolute;
    bottom: 0;
    margin-bottom: 5em;
}

#loadingIndicator {
    display: none;
    text-align: center;
    top: 40%;
    position: relative;
}

#main {
    height: 100%;
    width: 100%;
    position: fixed;
}

#newFile {
    float: left;
    margin-left: 70px;
    display: none;
}

#plotInfo {
    position: absolute;
    bottom: 0;
    text-align: left;
    padding-left: 70px;
    width: 100%;
    padding-bottom: 0.5%;
    pointer-events: none;
}

#sliderDiv {
    pointer-events: none;
    position: absolute;
}

#sumPlot {
    pointer-events: none;
    position: absolute;
    margin-top: -1em;
}

#toolTipText {
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 100%;
    padding-bottom: 0.5%;
    pointer-events: none;
    padding-left: 80%;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

.axis {
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: steelblue;
    stroke-width: 8px;
    stroke-linecap: round;
}

.dropZoneTextMain {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.italicText {
    font-style: italic;
}

.slider .handle {
    fill: lightgrey;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: move;
    pointer-events: none;
}

a:hover {
    cursor:pointer;
}
